---
import { TAGS } from "../components/Tags.astro";

const PROJECTS = [
	{
		title: "Front-End | VIPTop10.com | Laboratio",
		description:
			"Con mi colaboración con la empresa Laboratio, Desarrolle una basde de una pagina web intuitiva y atractiva que destacara las mejores categorías de lugares para visitar en diversos paises. Con implementacion efectiva de tecnologias permitió una navegacion fluida y una presentación visualmente atractivda de la informacion.",
		link: "https://divize.io/challenges",
		github: "https://github.com/JhonierSantana",
		tags: [
			TAGS.JS,
			TAGS.NODE,
			TAGS.REACT,
			TAGS.HTML5,
			TAGS.CSS,
			TAGS.BOOSTRAP,
		],
		image: "/projects/project1.webp",
	},
	{
		title: "Back-End | Airbnb Clone | Holberton",
		description:
			"Desarrolle un clon de Airbnb con implementackion de ORM(Object-Relational Mapping) y de comandos para la administracion de almacenamiento para mejorar la eficiencia en la gestion de datos, la implementacion de ORM permitió una representación mas natural de las entidades del sistema en el codigo, simplificando la manipulacion de datos y mejorando la legibilidad del código",
		link: "https://divize.io/challenges",
		github: "https://github.com/JhonierSantana",
		tags: [TAGS.PYTHON, TAGS.FLASK, TAGS.MYSQL],
		image: "/projects/project1.webp",
	},
];
---

{
	PROJECTS.map(({ image, title, description, tags }) => (
		<article class="pb-20">
			<img
				class="rounded shadow-2xl shadow-white/10"
				src={image}
				alt={`Captura de pantalla del proyecto ${image} `}
			/>
			<h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
			<p class="text-lg mb-4 text-pretty">{description}</p>
			<ul class="flex gap-x-2 flex-row">
				{tags.map((tag) => (
					<li>
						<span
							class={` flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
						>
							<tag.icon class="size-7" />
							{tag.name}
						</span>
					</li>
				))}
			</ul>
			<div class="border-b border-white mt-10" />
		</article>
	))
}
